<div class="table-responsive">
  <button
    id="custom-button"
    type="button"
    class="btn btn-outline-success"
    (click)="isModalClicked = true; addNewDirector()"
  >
    Add New Director
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Father/Husband Name</th>
        <th scope="col">CNIC/Passport</th>
        <th scope="col">NTN</th>
        <th scope="col">Nationality</th>
        <th scope="col">Designation</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody *ngIf="directorDetails as dDetails; else isLoading">
      <tr *ngFor="let director of dDetails.directorInfo; let i = index">
        <td>{{ director.directorName }}</td>
        <td>{{ director.directorFatherHusbandName }}</td>
        <td>{{ director.directorCnicPassport }}</td>
        <td>{{ director.directorNTN }}</td>
        <td>{{ director.directorNationality }}</td>
        <td>{{ director.designation }}</td>
        <td>
          <button
            class="btn btn-outline-secondary"
            (click)="
              isModalClicked = true; selectedDirector = director; index = i
            "
          >
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="deleteDirector(i)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>

    <ng-template #isLoading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </table>
</div>

<ng-container *ngIf="isRequestSent">
  <div class="line"></div>
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-container *ngIf="isModalClicked">
  <app-modal
    (closeModalEvent)="getModalState($event)"
    [formData]="selectedDirector"
    [remainingData]="directorDetails"
    [index]="index"
  ></app-modal>
</ng-container>

<ng-container *ngIf="response$ | async as response">
  <app-toast
    [toastColor]="response.statusCode === '200' ? 'bg-success' : 'bg-danger'"
    [toastOperation]="response.statusCode === '200' ? 'Success' : 'Failure'"
    [toastMessage]="response.message"
  ></app-toast>
</ng-container>
