<form [formGroup]="capitalStructureForm" (ngSubmit)="updateCapitalStructure()">
  <div class="row">
    <div class="col">
      <small>Authorized Capital - Per Share Value: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compPerShareValue"
      />

      <div
        *ngIf="
          capitalStructureForm.get('compPerShareValue').invalid ||
          capitalStructureForm.get('compPerShareValue').dirty ||
          capitalStructureForm.get('compPerShareValue').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="
            capitalStructureForm.get('compPerShareValue').hasError('required')
          "
        >
          The Authorized Capital - Per Share Value is required.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compPerShareValue').hasError('pattern')
          "
        >
          The Authorized Capital - Per Share Value cannot contain alphabets or
          special characters.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compPerShareValue').hasError('maxlength')
          "
        >
          The Authorized Capital - Per Share Value cannot contain more than 22
          numerical digits.
        </small>
      </div>
    </div>

    <div class="col">
      <small>Authorized Capital: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compAthrzCap"
        readonly
      />

      <div
        *ngIf="
          capitalStructureForm.get('compAthrzCap').invalid ||
          capitalStructureForm.get('compAthrzCap').dirty ||
          capitalStructureForm.get('compAthrzCap').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="capitalStructureForm.get('compAthrzCap').hasError('required')"
        >
          The Authorized Capital is required.
        </small>

        <small
          *ngIf="capitalStructureForm.get('compAthrzCap').hasError('pattern')"
        >
          The Authorized Capital cannot contain alphabets or special characters.
        </small>

        <small
          *ngIf="capitalStructureForm.get('compAthrzCap').hasError('maxlength')"
        >
          The Authorized Capital cannot contain more than 22 numerical digits.
        </small>
      </div>
    </div>

    <div class="col">
      <small>Authorized Capital - Shares: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compAthrzCapShrs"
      />

      <div
        *ngIf="
          capitalStructureForm.get('compAthrzCapShrs').invalid ||
          capitalStructureForm.get('compAthrzCapShrs').dirty ||
          capitalStructureForm.get('compAthrzCapShrs').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="
            capitalStructureForm.get('compAthrzCapShrs').hasError('required')
          "
        >
          The Authorized Capital - Shares is required.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compAthrzCapShrs').hasError('pattern')
          "
        >
          The Authorized Capital - Shares cannot contain alphabets or special
          characters.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compAthrzCapShrs').hasError('maxlength')
          "
        >
          The Authorized Capital - Shares contain more than 22 numerical digits.
        </small>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="row">
    <div class="col">
      <small>Paidup Capital - Per Share Value: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compAthrzPerValue"
      />

      <div
        *ngIf="
          capitalStructureForm.get('compAthrzPerValue').invalid ||
          capitalStructureForm.get('compAthrzPerValue').dirty ||
          capitalStructureForm.get('compAthrzPerValue').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="
            capitalStructureForm.get('compAthrzPerValue').hasError('required')
          "
        >
          The Paidup Capital - Per Share Value is required.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compAthrzPerValue').hasError('pattern')
          "
        >
          The Paidup Capital - Per Share Value Value cannot contain alphabets or
          special characters.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compAthrzPerValue').hasError('maxlength')
          "
        >
          The Paidup Capital - Per Share Value cannot more than 22 numerical
          digits.
        </small>
      </div>
    </div>

    <div class="col">
      <small>Paidup Capital: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compPadupCap"
        readonly
      />

      <div
        *ngIf="
          capitalStructureForm.get('compPadupCap').invalid ||
          capitalStructureForm.get('compPadupCap').dirty ||
          capitalStructureForm.get('compPadupCap').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="capitalStructureForm.get('compPadupCap').hasError('required')"
        >
          The Paidup Capital is required.
        </small>

        <small
          *ngIf="capitalStructureForm.get('compPadupCap').hasError('pattern')"
        >
          The Paidup Capital cannot contain alphabets or special characters.
        </small>

        <small
          *ngIf="capitalStructureForm.get('compPadupCap').hasError('maxlength')"
        >
          The Paidup Capital cannot contain more than 22 numerical digits.
        </small>
      </div>
    </div>

    <div class="col">
      <small>Paidup Capital - Shares: <mark>required</mark></small>
      <input
        type="text"
        class="form-control"
        formControlName="compPadupCapShrs"
        readonly
      />

      <div
        *ngIf="
          capitalStructureForm.get('compPadupCapShrs').invalid ||
          capitalStructureForm.get('compPadupCapShrs').dirty ||
          capitalStructureForm.get('compPadupCapShrs').touched
        "
        class="custom-error-message"
      >
        <small
          *ngIf="
            capitalStructureForm.get('compPadupCapShrs').hasError('required')
          "
        >
          The Paidup Capital - Shares is required.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compPadupCapShrs').hasError('pattern')
          "
        >
          The Paidup Capital - Shares cannot contain alphabets or special
          characters.
        </small>

        <small
          *ngIf="
            capitalStructureForm.get('compPadupCapShrs').hasError('maxlength')
          "
        >
          The Paidup Capital - Shares cannot contain more than 22 numerical
          digits.
        </small>
      </div>
    </div>
  </div>

  <div class="line"></div>
  <small *ngIf="invalidForm" class="custom-error-message"
    >Some <mark>required</mark> fields are missing.</small
  >
  <br />
  <button type="submit" class="btn btn-outline-primary">Update</button>
</form>

<ng-container *ngIf="isRequestSent">
  <div class="line"></div>
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-container *ngIf="capitalResponse$ | async as response">
  <app-toast
    [toastColor]="response.statusCode === '200' ? 'bg-success' : 'bg-danger'"
    [toastOperation]="response.statusCode === '200' ? 'Success' : 'Failure'"
    [toastMessage]="
      response.message === 'Invalid Token'
        ? 'Session Expired. Please Login Again.'
        : response.message
    "
  ></app-toast>
</ng-container>
