<div class="table-responsive">
  <button
    id="custom-button"
    type="button"
    class="btn btn-outline-success"
    (click)="isModalClicked = true; addNewShareholder()"
  >
    Add New Shareholder
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">CUIN/CNIC/Passport/Registration No</th>
        <th scope="col">Nationality</th>
        <th scope="col">Number Of Shares</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody *ngIf="shareholderDetails as sDetails; else isLoading">
      <tr *ngFor="let shareholder of sDetails.directorInfo; let i = index">
        <td>{{ shareholder.directorName }}</td>
        <td>{{ shareholder.directorCnicPassport }}</td>
        <td>{{ shareholder.directorNationality }}</td>
        <td>{{ shareholder.directorNumberOfShares }}</td>
        <td>
          <button
            class="btn btn-outline-secondary"
            (click)="
              isModalClicked = true;
              selectedShareholder = shareholder;
              index = i
            "
          >
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="deleteShareholder(i)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="sDetails.directorInfo.length === 0">
        No Shareholder Found in System
      </tr>
    </tbody>

    <div *ngIf="lastShareholderError" class="custom-error-message">
      There has to be atleast one Shareholder.
    </div>

    <ng-template #isLoading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </table>
</div>

<ng-container *ngIf="isRequestSent">
  <div class="line"></div>
  <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-container *ngIf="isModalClicked">
  <app-modal
    (closeModalEvent)="getModalState($event)"
    [formData]="selectedShareholder"
    [remainingData]="shareholderDetails"
    [index]="index"
  ></app-modal>
</ng-container>

<ng-container *ngIf="response$ | async as response">
  <app-toast
    [toastColor]="response.statusCode === '200' ? 'bg-success' : 'bg-danger'"
    [toastOperation]="response.statusCode === '200' ? 'Success' : 'Failure'"
    [toastMessage]="
      response.message === 'Invalid Token'
        ? 'Session Expired. Please Login Again.'
        : response.message
    "
  ></app-toast>
</ng-container>
